<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expanded blog</title>
    <link href="static/latin.css" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

     <div class="content">
            <div class="card">
                <h2>{{ d[n]['Title'] }}asdjahdha</h2>
                <h3 class="text">{{ d[n]['subtitle']  }}asas </h3>
                <p class="text">{{ d[n]['body'] }}asasa</p>
            </div>
        </div>




</body>
</html>